.Person {
  display: block;
  border: 2px solid black;
  box-shadow: 1px 1px gray;
  width: 60%;
  padding: 10px;
  margin: 10px auto;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}

input {
    display: block;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
}